﻿@model SMI.MonitoringOracle.SMI_INT_SOURCE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SMI_INT_SOURCE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INT_SOURCE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_SOURCE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODUL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODUL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOURCE_VALUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOURCE_VALUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARAMETER1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAMETER1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARAMETER2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAMETER2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARAMETER3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAMETER3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARAMETER4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAMETER4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARAMETER5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAMETER5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE_DATE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
