﻿@model SMI.MonitoringOracle.SMI_INT_SOURCE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SMI_INT_SOURCE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INT_SOURCE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_SOURCE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODUL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODUL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOURCE_VALUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOURCE_VALUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARAMETER1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAMETER1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARAMETER2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAMETER2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARAMETER3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAMETER3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARAMETER4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAMETER4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARAMETER5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARAMETER5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE_DATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.INT_SOURCE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
