﻿@model IEnumerable<SMI.MonitoringOracle.SMI_INT_SOURCE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.INT_SOURCE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODUL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOURCE_VALUE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARAMETER1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARAMETER2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARAMETER3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARAMETER4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PARAMETER5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.INT_SOURCE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODUL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOURCE_VALUE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PARAMETER1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PARAMETER2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PARAMETER3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PARAMETER4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PARAMETER5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATION_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE_DATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.INT_SOURCE_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.INT_SOURCE_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.INT_SOURCE_ID })
        </td>
    </tr>
}

</table>
