﻿@model SMI.MonitoringOracle.SMI_INT_BATCH_PROCESS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SMI_INT_BATCH_PROCESS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SMI_INT_SOURCE.INT_SOURCE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SMI_INT_SOURCE.INT_SOURCE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCHEDULER_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCHEDULER_FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUEST_PHASE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUEST_PHASE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUEST_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUEST_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQUEST_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQUEST_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BATCH_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BATCH_FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_BY)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
