﻿@model IEnumerable<SMI.MonitoringOracle.SMI_INT_BATCH_PROCESS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SMI_INT_SOURCE.INT_SOURCE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCHEDULER_FLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQUEST_PHASE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQUEST_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQUEST_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BATCH_FLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SMI_INT_SOURCE.INT_SOURCE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCHEDULER_FLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQUEST_PHASE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQUEST_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQUEST_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BATCH_FLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATION_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATED_BY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
