﻿@model SMI.MonitoringOracle.SMI_INT_VALIDATION_LOG

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SMI_INT_VALIDATION_LOG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VALIDATION_LOG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALIDATION_LOG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT_REQUEST_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_REQUEST_ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
