﻿@model SMI.MonitoringOracle.SMI_INT_VALIDATION_LOG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SMI_INT_VALIDATION_LOG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VALIDATION_LOG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALIDATION_LOG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT_REQUEST_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_REQUEST_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
