﻿@model IEnumerable<SMI.MonitoringOracle.SMI_INT_VALIDATION_LOG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VALIDATION_LOG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INT_REQUEST_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VALIDATION_LOG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATION_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INT_REQUEST_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
