﻿@model SMI.MonitoringOracle.Models.Index

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
        <div class="col-md-4">
            <h2> Records : @Model.OracleCount </h2>
        </div>
        <div class="col-md-5">
            <h2>ListBatch</h2>
            @foreach (var listbatch in Model.ListBatch)
            {
            <div>@listbatch.INT_BATCH_ID</div>
            <div>@listbatch.INT_SOURCE_ID</div>
            <div>@listbatch.BATCH_FLAG</div>
            <div>@listbatch.SCHEDULER_FLAG</div>
            <div>@listbatch.REQUEST_ID</div>
            <div>@listbatch.REQUEST_PHASE</div>
            <div>@listbatch.REQUEST_STATUS</div>
            <div>@listbatch.CREATION_DATE</div>
            <div>@listbatch.CREATED_BY</div>
            <div>@listbatch.LAST_UPDATE_DATE</div>
            <div>@listbatch.LAST_UPDATE_BY</div>
            }
        </div>
    </div>


